body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e5e5;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    padding: 0;
    margin: 0;
}
h5 {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}



.profile-card {
    background-color: #f8f8f8;
    width: 348px;
    height: 384px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    box-sizing: border-box;
}

.profile-card__avatar {
    width: 88px;
    height: 88px;
    border-radius: 50%;
}





.profile-card__social-logo {
    width: 16px;
    height: auto;
}

.profile-card__button {
    width: 141px;
    height: 48px;
    border-radius: 10px;
}

.message {
    background-color: transparent;
    color: #22215B;
    border: 2px solid #22215B;
}

.connect {
    background-color: #22215B;
    color: #F8F8FA;
    border: 2px solid #22215B;
}